@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-royal-heath-50: #ebecff;
  --color-royal-heath-100: #dbdbff;
  --color-royal-heath-200: #bfbeff;
  --color-royal-heath-300: #9d97ff;
  --color-royal-heath-400: #836dff;
  --color-royal-heath-500: #754bff;
  --color-royal-heath-600: #6d2cff;
  --color-royal-heath-700: #5f20e2;
  --color-royal-heath-800: #4d1db6;
  --color-royal-heath-900: #40208f;
  --color-royal-heath-950: #23114a;




}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
